body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 5em;
}

a {
    color: #4068c1;
}

.social {
    margin: 3em auto;
}

.social .icon {
    padding: 0 0.5em;
    font-size: 1.6em;
}