@import "aux";

/* Styles for the blog */

.article {
  margin: auto;
  text-align: justify;
  font-size: 20px;
  color: $scheme_base03;

  // Title
  h1 {
    margin-bottom: 0.3em;
  }

  // Metadata
  .metadata {
    font-size: 0.9em;
    @include mobile {
      margin-bottom: 0.5em;
    }

    .publishedDate .icon {
      color: $scheme_base04;
      margin-right: 0.5em;
      color: $brand-color;
    }

    .tags {
      display: inline-block;
      margin: 0 10px;

      .tag {
        font-style: italic;
        padding: 0.5em;
        background-color: #f9f9f9;
        margin: auto 0.1em;
      }
    }
  }

  // Centered images
  img {
    display: block;
    margin: 0 auto;
  }

  // Quotes
  blockquote {
    background-color: #f7f7f7;
    padding: 1em;
    border-left: 1em solid $brand-color;
    margin: 1em auto;

    p {
      margin: 0;
    }
  }

  // Code
  :not(pre) code {
    padding: .25em .5em;
    font-size: 85%;
    color: #bf616a;
    background-color: #f9f9f9;
    border-radius: 3px;
  }

  pre code {
    background-color: #f9f9f9;
    border-radius: .25rem;
    font-size: 0.9em;
    padding: 1.5em;
  }

  // Previous and next articles
  .prevNext {
    margin: 2em 0;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;

    .previous {
      text-align: left;
    }
    .next {
      text-align: right;
    }
  }
}
