@import "aux"

.article {
  font-size: 19px;
  line-height: 1.58;
  letter-spacing: -.003em;
  max-width: 700px;
  margin: auto;

  blockquote {
    background-color #f7f7f7
    padding 1em
    border-left 1em solid brand-color
    margin 1em auto
  }

  blockquote p {
    margin 0
  }

  :not(pre) code {
    color #c55f5f
    background #f8ecec
    padding 0.3em
    border-radius 2px
  }

  pre code {
    font-size 0.9em
  }

  h1 {
    margin-bottom: 3px;
  }

  .metadata .publishedDate .icon {
    color gray
    margin-right 0.5em
    color brand-color
  }
}


