
@require "aux"

/* Styles for the blog */

.article {
  margin auto
  text-align justify

  // Title
  h1 {
    margin-bottom 0.3em
  }

  // Metadata
  .metadata {
    font-size 0.9em
    +mobile() {
      margin-bottom 0.5em
    }

    .publishedDate .icon {
      color gray
      margin-right 0.5em
      color brand-color
    }

    .tags {
      display inline-block
      margin 0 10px

      .tag {
        font-style italic
        padding 0.5em
        background-color #f9f9f9
        margin auto 0.1em
      }
    }
  }

  // Centered images
  img {
    display block
    margin 0 auto
  }

  // Quotes
  blockquote {
    background-color #f7f7f7
    padding 1em
    border-left 1em solid brand-color
    margin 1em auto

    p {
      margin 0
    }
  }

  // Code
  :not(pre) code {
    color #c55f5f
    background #f8ecec
    padding 0.3em
    border-radius 2px
  }

  pre code {
    font-size 0.9em
    padding 0
  }
}
