// Mobile
$static-width: 940px;
@mixin mobile {
  @media only screen and (max-width: $static-width) {
    @content;
  }
}

// Colors
$brand-color: #005995;
$font: 'Noto Sans';
$titleFont: 'Raleway';

// Content
.center {
  text-align: center;
}

// Flex layouts
.flex {
  display: flex;
  @include mobile {
    display: block;
  }

  // Space between elements (first and last are at the limits of the parent)
  &.spaceBetween {
    justify-content: space-between;
  }
}
