
/* Auxiliary styles, useful for all the pages */

// Mobile
static-width = 940px
mobile() {
  @media only screen and (max-width: static-width) {
    {block}
  }
}

// Colors
brand-color = #005995
font = 'Noto Sans'
titleFont = 'Raleway'

// Content
.center {
  text-align center
}

// Flex layouts
.flex {
  display flex
  +mobile() {
    display block
  }

  // Space between elements (first and last are at the limits of the parent)
  &.spaceBetween {
    justify-content space-between
  }
}
