@require "aux"

body {
  font-family 'Open Sans', sans-serif
}

a {
  color brand-color
  text-decoration none
  font-weight bold
  &:visited {
    color brand-color
  }
}

// Header
header.main {
  text-align center
}