$scheme_base00: #151515;
$scheme_base01: #202020;
$scheme_base02: #303030;
$scheme_base03: #505050;
$scheme_base04: #B0B0B0;
$scheme_base05: #D0D0D0;
$scheme_base06: #E0E0E0;
$scheme_base07: #F5F5F5;
$scheme_base08: #FB9FB1;
$scheme_base09: #EDA987;
$scheme_base0A: #DDB26F;
$scheme_base0B: #ACC267;
$scheme_base0C: #12CFC0;
$scheme_base0D: #6FC2EF;
$scheme_base0E: #E1A3EE;
$scheme_base0F: #DEAF8F;
